#container{
	color: red;
	width: 200px;
	border:2px solid red;
}
.notfound
{
	
	font-style: italic;
	opacity: 0.60;
	background-color: red;
	color: white;

}
.found
{
	font-style: normal;
	opacity: 0.60;
	color : white;
	background-color: green;
}
.suggest
{
	font-style: normal;
	opacity: 0.60;
	color : red;
	background-color: yellow;
}
.suggest:hover
{
	font-style: normal;
	opacity: 0.60;
	color : yellow;
	background-color: red;
}
